<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <!--
    Start applying the CSS styling to the website
    E.g. put heading in div 'box'
    Get rid of ul and li, put each li item into a div
  -->
  <body>
