<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div class="box" id="heading">
      <h1><%= kindOfDay %></h1>
    </div>


    <ul>
      <!-- Use EJS templating for new item
           Need a for look so that each item in the
           array will get displayed as a new list item
           on a separate line-->
      <% for (var i = 0; i < newListItems.length; i++) { %>
          <li> <%= newListItems[i] %> </li>
        <% } %>
    </ul>

    <form action="/" method="POST">
      <input type="text" placeholder="New To Do Item" name="newItem" required autofocus>
      <button type="submit" name="button">Add</button>
    </form>
  </body>
</html>
